   body {
  margin: 0 ;
  font-family: Arial, Helvetica, sans-serif;
}

.left-h{
	float:left;
}
.right-h{
	float:right;
}
.clear-h{
	clear:both;
}
.container1{
    text-align: center;
    display:grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows:60px;
}
header{
	grid-column: 1/5;
  grid-row: 1;
 /* overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;*/
  background-color: #fff;

}
#logo{
    margin-left: 15%;
    line-height: 0.3;   
}
a:link{
	text-decoration: none
}
.site-title{
   font-size: 32px;
     color: #1fa67a;
   
    font-weight: 500;
    
    }
 

.topnav {
  margin: 0;
  overflow: hidden;
  line-height: 60px;
  margin-left: 50%;
}

.topnav a {
  color: #777;
  text-align: center;
  padding: 1px 20px;
  text-decoration: none;
  font-size: 14px;
}

.topnav a:hover {
  background-color:  #1fa67a;
  color: white;
}

.topnav a.active {
  background-color:  #1fa67a;
  color: white;
}
.footer-container{
    text-align: center;
    display:grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows:200px 40px;
     background-color:  #1fa67a;
    margin-top: 50px;
}
.company{
  grid-column: 1;
  grid-row: 1;
  width: 300px;
}
/*.company form{
     background-color: #fff;
     width: 250px;
     padding: 10px;
     margin-top: 75px;
     margin-left: 50px;
     border-radius: 8px;
}*/
#find{
  border-radius: 8px;
  padding: 10px;
   margin-top: 40px;
     margin-left: 50px;
  display: block;
  margin-right: 50px;
  border:none;
  outline: none;
  margin-bottom: 50px;
} 
#subs{
  border-radius: 8px;
  border:2px solid #fff;
  padding: 15px;
  margin-left:100px;
  color:#fff;
}
.rights{
  grid-column: 1/5;
  grid-row: 2;
  text-align: center;
  color:#444;
   font-size: 20px;
   padding-bottom: 10px;
    background-color: #fff;
    line-height: 40px;

}
.rights a{
  font-size: 20px;
  color:#444;

}
#subs:hover{
  background-color: #fff;
  color: #1fa67a;
}
.fa-search{
  color:#1fa67a;
}
.about{
  grid-column: 2;
  grid-row: 1;
  width: 200px;
}
.Resources{
  grid-column: 3;
  grid-row: 1;
  width: 200px;
}
.follow{
  grid-column: 4;
  grid-row: 1;
  width: 300px;
}
.footer-h4{
  font-size: 25px;
  color:#444;
}
.footer-p{
  padding-left: 70px;
  text-align: justify;
  color: #fff;
}
.links{
  text-align: justify;
  margin-left: 45px;

}

.links2{
  text-align: justify;
  margin-left: 90px;

}
.links a{
  color:#fff;
}
.links2 a{
  color:#fff;
}
.block{
  display: block;
  padding-bottom: 3px;
}
.block:hover{
   color:#d99a11;

}
.account{
  font-size: 30px;
  padding: 10px;
}
.account:hover{
   color:#d99a11;

}
